In [2]:
import pandas as pd
import numpy as np

In [184]:
df = pd.DataFrame({
    "r_normal1": np.random.randn(20),
    "r_gamma": np.random.gamma(shape=1, scale=5, size=20),
    "r_uniform": np.random.uniform(0,100,size=20),
    "r_gumbel":np.random.gumbel(20, 5, 20),
    "r_normal2":np.random.normal(loc=5,scale=2,size=20),
    "r_poisson": np.random.poisson(2, size=20)
})

df

    r_normal1    r_gamma  r_uniform   r_gumbel  r_normal2  r_poisson
0   -0.724923  12.587857  91.573938  25.382748   7.693030          2
1    0.104258   6.242947  40.329162  32.594143   3.364613          3
2   -1.295168   3.879762  33.852718  33.864736   4.279334          2
3   -0.142647  10.518011  21.253817  16.900153   4.341246          3
4    0.798102   2.791896  87.073158  15.824269   3.946496          2
5    1.070039  17.140748  28.752658  18.846902   5.914870          3
6   -1.519085   3.292989  99.598994  22.946887   0.893263          0
7   -0.418488   2.291280  26.851147  19.346629   2.633913          1
8    0.049375   6.663059  87.470458  20.378023   6.996812          1
9   -0.003173  14.211561  26.398384  19.000097   6.371237          2
10   2.087930  10.555372  22.381940  35.294947   9.693107          2
11  -0.173841   1.075978  18.275172  15.667139   7.145034          5
12   1.052024   7.749464   4.885778  22.042083   5.690093          2
13  -0.415270  13.489843  73.317586  16.457271   5.026697          2
14   0.463395   5.032018   7.303643  37.282083   4.290573          3
15   0.665022   2.037792  92.901450  21.657393   3.041871          2
16  -1.002780   5.707311  41.361702  24.553481   4.270058          2
17   0.491747   0.301336  21.288326  35.393324   6.616921          1
18  -1.553722   8.165214  77.824546  14.862328   3.977873          1
19   0.174510   6.220005  57.621776  21.241832   3.799760          4

In [185]:
n = int(df.shape[0])
a=[0.394, 0.3917, 0.3894, 0.3872, 0.385, 0.383, 0.3808, 0.3789, 0.377, 0.3751]

def function(data):
    if n % 2 == 0:
        k = int(n/2)
    else:
        k = int((n-1)/2)
    
    mn = np.mean(data)
    nm2 = 0
    
    for i in range(n):
        nm2 = nm2 + (data[i] - mn)**2
        
    b = 0
    for i in range (k):
        b += a[i] * (data[n-i-1] - data[i])
        
    w = (b**2)/nm2
    return w

In [186]:
function(df["r_normal1"])

0.12940397432252798

In [187]:
names = ["Variable", "Statistics", "Distribution"]
table = pd.DataFrame(columns = names)
table["Variable"] = df.keys()
table["Distribution"] = ['Normal' if 'norm' in i else 'Non-normal' for i in table['Variable']]
table

    Variable Statistics Distribution
0  r_normal1        NaN       Normal
1    r_gamma        NaN   Non-normal
2  r_uniform        NaN   Non-normal
3   r_gumbel        NaN   Non-normal
4  r_normal2        NaN       Normal
5  r_poisson        NaN   Non-normal

In [188]:
for i in range(table.shape[0]):
    if 'norm' in table["Variable"][i]:
        table['Statistics'][i] = f'{df[table["Variable"][i]].mean()} {[df[table["Variable"][i]].std()]}'
for i in range (table.shape[0]):
    cur = table["Variable"][i]
    if 'norm' not in cur:
        table["Statistics"][i] =f'{df[cur].median()}[{df[cur].quantile(0.25)} {df[cur].quantile(0.75)}]'        
table

    Variable                                         Statistics Distribution
0  r_normal1         -0.014634675257408669 [0.9323091695896196]       Normal
1    r_gamma  6.231475855784268[3.167715949253914 10.5273514...   Non-normal
2  r_uniform  37.09093987497556[22.10853620225367 80.1366992...   Non-normal
3   r_gumbel  21.449612308977354[18.3602145728571 27.1855966...   Non-normal
4  r_normal2             4.999340052385839 [2.0291527223254233]       Normal
5  r_poisson                                      2.0[1.75 3.0]   Non-normal

In [189]:
import matplotlib.backends.backend_pdf
import matplotlib.pyplot as plt
fig = plt.figure()
ax=fig.add_subplot(111)

cell_text = []
for row in range(len(table)):
    cell_text.append(table.iloc[row])

ax.table(cellText=cell_text, colLabels=table.columns, loc='center')
ax.axis('off')

pdf = matplotlib.backends.backend_pdf.PdfPages("table.pdf")
pdf.savefig(fig)
pdf.close()